harbor:
  expose:
    type: ClusterIP
    tls:
      enabled: false

  externalURL: "https://harbor-xquare-infra.dsmhs.kr:443"

  existingSecretAdminPassword: "harbor-admin-password"
  existingSecretAdminPasswordKey: HARBOR_ADMIN_PASSWORD

  registry:
    relativeurls: true
    upload_purging:
      age: 12h
      interval: 12h

  persistence:
    persistentVolumeClaim:
      registry:
        size: 300Gi

  updateStrategy:
    type: Recreate
