descheduler:
  kind: CronJob
  schedule: "*/2 * * * *"

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

  deschedulerPolicy:
    profiles:
      - name: default
        pluginConfig:
          - name: DefaultEvictor
            args:
              podProtections:
                defaultDisabled:
                  - "PodsWithLocalStorage"
                extraEnabled:
                  - "PodsWithPVC"

          - name: RemoveDuplicates

          - name: RemovePodsHavingTooManyRestarts
            args:
              podRestartThreshold: 100
              includingInitContainers: true

          - name: RemovePodsViolatingNodeAffinity
            args:
              nodeAffinityType:
                - requiredDuringSchedulingIgnoredDuringExecution

          - name: RemovePodsViolatingNodeTaints

          - name: RemovePodsViolatingInterPodAntiAffinity

          - name: RemovePodsViolatingTopologySpreadConstraint

          - name: LowNodeUtilization
            args:
              thresholds:
                cpu: 40
                memory: 40
                pods: 60
              targetThresholds:
                cpu: 75
                memory: 75
                pods: 90

        plugins:
          balance:
            enabled:
              - RemoveDuplicates
              - RemovePodsViolatingTopologySpreadConstraint
              - LowNodeUtilization
          deschedule:
            enabled:
              - RemovePodsHavingTooManyRestarts
              - RemovePodsViolatingNodeTaints
              - RemovePodsViolatingNodeAffinity
              - RemovePodsViolatingInterPodAntiAffinity
