apiVersion: v2
name: monitoring
description: Unified observability stack with Loki, Mimir, Tempo, Grafana (based on lgtm-distributed)
type: application
version: 2.0.0
appVersion: "2.0.0"

dependencies:
  - name: grafana
    alias: grafana
    condition: grafana.enabled
    repository: https://grafana.github.io/helm-charts
    version: "10.1.2"

  - name: loki
    alias: loki
    condition: loki.enabled
    repository: https://grafana.github.io/helm-charts
    version: "6.44.0"

  - name: mimir-distributed
    alias: mimir
    condition: mimir.enabled
    repository: https://grafana.github.io/helm-charts
    version: "5.8.0"

  - name: tempo-distributed
    alias: tempo
    condition: tempo.enabled
    repository: https://grafana.github.io/helm-charts
    version: "1.52.2"

  - name: oncall
    alias: grafana-oncall
    condition: grafana-oncall.enabled
    repository: https://grafana.github.io/helm-charts
    version: "1.16.5"
