apiVersion: v2
name: monitoring
description: VictoriaMetrics monitoring stack (metrics, logs, traces)
type: application
version: 1.0.0
appVersion: "1.0.0"

dependencies:
  - name: beyla
    version: "1.10.0"
    repository: https://grafana.github.io/helm-charts
    condition: beyla.enabled
