beyla:
  enabled: true

  config:
    data:
      otel_traces_export:
        endpoint: http://otel-collector-collector:4317
        protocol: grpc
      attributes:
        kubernetes:
          enable: false
      routes:
        unmatched: heuristic
      prometheus_export:
        port: 0

  service:
    enabled: false

  tolerations:
    - operator: Exists
