grafana:
  enabled: true

  grafana.ini:
    auth:
      disable_login_form: true
    auth.anonymous:
      enabled: true
      org_role: Admin

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Loki
          uid: loki
          type: loki
          url: http://{{ .Release.Name }}-loki-gateway
          isDefault: false
        - name: Mimir
          uid: prom
          type: prometheus
          url: http://{{ .Release.Name }}-mimir-nginx/prometheus
          isDefault: true
        - name: Tempo
          uid: tempo
          type: tempo
          url: http://{{ .Release.Name }}-tempo-query-frontend:3200
          isDefault: false
          jsonData:
            tracesToLogsV2:
              datasourceUid: loki
            lokiSearch:
              datasourceUid: loki
            tracesToMetrics:
              datasourceUid: prom
            serviceMap:
              datasourceUid: prom
        - name: Pyroscope
          uid: pyroscope
          type: grafana-pyroscope-datasource
          url: http://{{ .Release.Name }}-pyroscope:4040
          isDefault: false

loki:
  enabled: true

  global:
    dnsService: coredns

  loki:
    auth_enabled: false

mimir:
  enabled: true

  global:
    dnsService: coredns

  mimir:
    structuredConfig:
      multitenancy_enabled: false

  alertmanager:
    resources:
      requests:
        cpu: 20m
  compactor:
    resources:
      requests:
        cpu: 20m
  distributor:
    resources:
      requests:
        cpu: 20m
  ingester:
    replicas: 2
    zoneAwareReplication:
      enabled: false
    resources:
      requests:
        cpu: 20m
  overrides_exporter:
    resources:
      requests:
        cpu: 20m
  querier:
    replicas: 1
    resources:
      requests:
        cpu: 20m
  query_frontend:
    resources:
      requests:
        cpu: 20m
  query_scheduler:
    replicas: 1
    resources:
      requests:
        cpu: 20m
  ruler:
    resources:
      requests:
        cpu: 20m
  store_gateway:
    zoneAwareReplication:
      enabled: false
    resources:
      requests:
        cpu: 20m
  minio:
    resources:
      requests:
        cpu: 20m
  rollout_operator:
    resources:
      requests:
        cpu: 20m

tempo:
  enabled: true

  tempo:
    multitenancyEnabled: false

  ingester:
    replicas: 1

grafana-oncall:
  enabled: false

pyroscope:
  enabled: true

  pyroscope:
    extraEnvVars:
      - name: PYROSCOPE_AUTH_NO_AUTH
        value: "true"

    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 1Gi

k8s-monitoring:
  enabled: true

  cluster:
    name: xquare-onpremise

  destinations:
    - name: mimir
      type: prometheus
      url: http://monitoring-mimir-nginx/prometheus/api/v1/push
    - name: loki
      type: loki
      url: http://monitoring-loki-gateway/loki/api/v1/push
    - name: tempo
      type: otlp
      url: http://monitoring-tempo-distributor:4317
      protocol: http
      metrics:
        enabled: true
      logs:
        enabled: true
      traces:
        enabled: true
    - name: pyroscope
      type: pyroscope
      url: http://monitoring-pyroscope:4040

  clusterMetrics:
    enabled: true
    opencost:
      enabled: false
    kepler:
      enabled: true
  annotationAutodiscovery:
    enabled: true
  prometheusOperatorObjects:
    enabled: true

  clusterEvents:
    enabled: true
  podLogs:
    enabled: true
  nodeLogs:
    enabled: true

  applicationObservability:
    enabled: true
    receivers:
      otlp:
        grpc:
          enabled: true
          port: 4317
        http:
          enabled: true
          port: 4318
      zipkin:
        enabled: true
        port: 9411
  profiling:
    enabled: true

  autoInstrumentation:
    enabled: true

  alloy-metrics:
    enabled: true
    alloy:
      extraEnv:
        - name: CLUSTER_NAME
          value: xquare-onpremise
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name

  alloy-singleton:
    enabled: true
    alloy:
      extraEnv:
        - name: CLUSTER_NAME
          value: xquare-onpremise
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name

  alloy-logs:
    enabled: true
    alloy:
      extraEnv:
        - name: CLUSTER_NAME
          value: xquare-onpremise
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName

  alloy-receiver:
    enabled: true
    alloy:
      extraPorts:
        - name: otlp-grpc
          port: 4317
          targetPort: 4317
          protocol: TCP
        - name: otlp-http
          port: 4318
          targetPort: 4318
          protocol: TCP
        - name: zipkin
          port: 9411
          targetPort: 9411
          protocol: TCP
      extraEnv:
        - name: CLUSTER_NAME
          value: xquare-onpremise
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName

  alloy-profiles:
    enabled: true
    alloy:
      extraEnv:
        - name: CLUSTER_NAME
          value: xquare-onpremise
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
