image:
  repository: moby/buildkit
  tag: v0.18.2-rootless
  pullPolicy: IfNotPresent

namespace: buildkit

replicas: 1

deployment:
  nodeSelector: {}
  tolerations: []
  affinity: {}

service:
  type: ClusterIP
  port: 1234

buildkit:
  debug: false
  rootDir: /var/lib/buildkit
  containerdSocket: /run/containerd/containerd.sock
  registryMirror: ""
  extraArgs: []

storage:
  pvc:
    enabled: true
    storageClass: longhorn
    size: 50Gi

securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

resources:
  limits:
    cpu: 4
    memory: 8Gi
  requests:
    cpu: 1
    memory: 2Gi

serviceAccount:
  create: true
  name: buildkit
  annotations: {}

networkPolicy:
  enabled: false
