grafana:
  enabled: true

  grafana.ini:
    auth:
      disable_login_form: true
    auth.anonymous:
      enabled: true
      org_role: Admin

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: grafanacloud-xquare-prom
          uid: gcloud-prom
          type: prometheus
          url: https://prometheus-prod-49-prod-ap-northeast-0.grafana.net/api/prom
          access: proxy
          isDefault: true
          basicAuth: true
          basicAuthUser: "<path:avp/data/grafana#metricsUsername>"
          secureJsonData:
            basicAuthPassword: "<path:avp/data/grafana#apiKey>"
          jsonData:
            httpMethod: POST
            prometheusType: Mimir
            timeout: 150
            queryTimeout: 60s
            timeInterval: 60s
            incrementalQuerying: true
            manageAlerts: true

        - name: grafanacloud-xquare-logs
          uid: gcloud-loki
          type: loki
          url: https://logs-prod-030.grafana.net
          access: proxy
          basicAuth: true
          basicAuthUser: "<path:avp/data/grafana#logsUsername>"
          secureJsonData:
            basicAuthPassword: "<path:avp/data/grafana#apiKey>"

        - name: grafanacloud-xquare-traces
          uid: gcloud-tempo
          type: tempo
          url: https://tempo-prod-20-prod-ap-northeast-0.grafana.net/tempo
          access: proxy
          basicAuth: true
          basicAuthUser: "<path:avp/data/grafana#tempoUsername>"
          secureJsonData:
            basicAuthPassword: "<path:avp/data/grafana#apiKey>"
          jsonData:
            tracesToLogsV2:
              datasourceUid: gcloud-loki
              spanStartTimeShift: -2s
              spanEndTimeShift: 2s
            lokiSearch:
              datasourceUid: gcloud-loki
            tracesToMetrics:
              datasourceUid: gcloud-prom
              spanStartTimeShift: -2m
              spanEndTimeShift: 2m
            serviceMap:
              datasourceUid: gcloud-prom
            nodeGraph:
              enabled: true

        - name: grafanacloud-xquare-profiles
          uid: gcloud-pyroscope
          type: grafana-pyroscope-datasource
          url: https://profiles-prod-019.grafana.net
          access: proxy
          basicAuth: true
          basicAuthUser: "<path:avp/data/grafana#stackUsername>"
          secureJsonData:
            basicAuthPassword: "<path:avp/data/grafana#apiKey>"
