apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victoriatraces
  namespace: {{ .Release.Namespace }}
spec:
  instanceSelector:
    matchLabels:
      dashboards: "grafana"
  valuesFrom:
    - targetPath: basicAuthUser
      valueFrom:
        secretKeyRef:
          name: grafana-datasource-credentials
          key: username
    - targetPath: secureJsonData.basicAuthPassword
      valueFrom:
        secretKeyRef:
          name: grafana-datasource-credentials
          key: password
  datasource:
    name: VictoriaTraces
    type: jaeger
    access: proxy
    url: http://vmauth-victoria-auth.monitoring.svc:8427/jaeger
    editable: true
    basicAuth: true
    basicAuthUser: ${USERNAME}
    secureJsonData:
      basicAuthPassword: ${PASSWORD}
