apiVersion: v1
kind: Secret
metadata:
  name: grafana-datasource-credentials
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  username: tenant-{{ .Values.tenantId }}
  password: tenant-{{ .Values.tenantId }}-password
