apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victorialogs
  namespace: {{ .Release.Namespace }}
spec:
  datasource:
    name: VictoriaLogs
    type: victoriametrics-logs-datasource
    access: proxy
    url: http://vmauth-victoria-auth.monitoring.svc:8427/vl/tenant-{{ .Values.tenantId }}
    basicAuth: true
    editable: false
    jsonData:
      httpMethod: POST
    secureJsonDataFrom:
      basicAuthUser:
        name: grafana-datasource-credentials
        key: username
      basicAuthPassword:
        name: grafana-datasource-credentials
        key: password
