apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  namespace: {{ .Release.Namespace }}
  labels:
    dashboards: "grafana"
    app: grafana-instance
spec:
  config:
    log:
      mode: "console"
    auth:
      disable_login_form: "false"
    security:
      admin_user: admin
      admin_password: admin
    plugins:
      plugin_admin_enabled: "true"
  deployment:
    spec:
      replicas: 1
      template:
        spec:
          containers:
            - name: grafana
              image: docker.io/grafana/grafana:12.3.0
              env:
                - name: GF_INSTALL_PLUGINS
                  value: "victoriametrics-logs-datasource"
              resources:
                requests:
                  cpu: 100m
                  memory: 256Mi
                limits:
                  cpu: 500m
                  memory: 1Gi
  service:
    spec:
      type: NodePort
      ports:
        - name: grafana
          port: 3000
          protocol: TCP
          targetPort: 3000
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-datasource-credentials
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  username: tenant-{{ .Values.tenantId }}
  password: tenant-{{ .Values.tenantId }}-password
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victorialogs
  namespace: {{ .Release.Namespace }}
spec:
  instanceSelector:
    matchLabels:
      app: grafana-instance
  datasource:
    uid: victorialogs
    name: Logs
    type: victoriametrics-logs-datasource
    access: proxy
    url: http://vmauth-victoria-auth.monitoring.svc:8427/vl/tenant-{{ .Values.tenantId }}/
    basicAuth: true
    basicAuthUser: ${username}
    editable: false
    jsonData:
      httpMethod: POST
      derivedFields:
        - name: TraceID
          matcherName: trace_id
          url: "${__value.raw}"
          datasourceUid: victoriatraces
    secureJsonData:
      basicAuthPassword: ${password}
  valuesFrom:
    - targetPath: basicAuthUser
      valueFrom:
        secretKeyRef:
          name: grafana-datasource-credentials
          key: username
    - targetPath: secureJsonData.basicAuthPassword
      valueFrom:
        secretKeyRef:
          name: grafana-datasource-credentials
          key: password
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victoriameetrics
  namespace: {{ .Release.Namespace }}
spec:
  instanceSelector:
    matchLabels:
      app: grafana-instance
  datasource:
    uid: victoriametrics
    name: Metrics
    type: prometheus
    access: proxy
    url: http://vmauth-victoria-auth.monitoring.svc:8427/vm/tenant-{{ .Values.tenantId }}/
    basicAuth: true
    basicAuthUser: ${username}
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
    secureJsonData:
      basicAuthPassword: ${password}
  valuesFrom:
    - targetPath: basicAuthUser
      valueFrom:
        secretKeyRef:
          name: grafana-datasource-credentials
          key: username
    - targetPath: secureJsonData.basicAuthPassword
      valueFrom:
        secretKeyRef:
          name: grafana-datasource-credentials
          key: password
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victoriatraces
  namespace: {{ .Release.Namespace }}
spec:
  instanceSelector:
    matchLabels:
      app: grafana-instance
  datasource:
    uid: victoriatraces
    name: Traces
    type: jaeger
    access: proxy
    url: http://vmauth-victoria-auth.monitoring.svc:8427/vt/tenant-{{ .Values.tenantId }}
    basicAuth: true
    basicAuthUser: ${username}
    editable: false
    jsonData:
      # Grafana v12.2.0+에서 VictoriaLogs datasource로 Trace→Log 연동 지원
      tracesToLogsV2:
        datasourceUid: victorialogs
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        filterByTraceID: true
        filterBySpanID: true
        customQuery: true
        query: 'trace_id:="$${__trace.traceId}"'
      nodeGraph:
        enabled: true
    secureJsonData:
      basicAuthPassword: ${password}
  valuesFrom:
    - targetPath: basicAuthUser
      valueFrom:
        secretKeyRef:
          name: grafana-datasource-credentials
          key: username
    - targetPath: secureJsonData.basicAuthPassword
      valueFrom:
        secretKeyRef:
          name: grafana-datasource-credentials
          key: password


