apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victoriametrics
  namespace: {{ .Release.Namespace }}
spec:
  datasource:
    name: VictoriaMetrics
    type: prometheus
    access: proxy
    url: http://vmauth-victoria-auth.monitoring.svc:8427/vm/tenant-{{ .Values.tenantId }}
    basicAuth: true
    basicAuthUser:
      secretKeyRef:
        name: grafana-datasource-credentials
        key: username
    basicAuthPassword:
      secretKeyRef:
        name: grafana-datasource-credentials
        key: password
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: "30s"
