apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victoriatraces
  namespace: {{ .Release.Namespace }}
spec:
  datasource:
    name: VictoriaTraces
    type: jaeger
    access: proxy
    url: http://vmauth-victoria-auth.monitoring.svc:8427/vt/tenant-{{ .Values.tenantId }}
    basicAuth: true
    basicAuthUser:
      secretKeyRef:
        name: grafana-datasource-credentials
        key: username
    basicAuthPassword:
      secretKeyRef:
        name: grafana-datasource-credentials
        key: password
    editable: false
