apiVersion: operator.victoriametrics.com/v1beta1
kind: VMUser
metadata:
  name: tenant-101
  namespace: test-app
spec:
  username: tenant-101
  generatePassword: true

  targetRefs:
    # Metrics (VictoriaMetrics Cluster)
    - crd:
        kind: VMCluster/vmselect
        name: victoria-metrics
        namespace: monitoring
      paths:
        - "/vm/tenant-101/.*"
      headers:
        - "AccountID: 101"
        - "ProjectID: 101"
      drop_src_path_prefix_parts: 2
      target_path_suffix: "/select/101:101/prometheus"

    # Logs (VictoriaLogs Single-node)
    - crd:
        kind: VLSingle
        name: victoria-logs
        namespace: monitoring
      paths:
        - "/vl/tenant-101/.*"
      headers:
        - "AccountID: 101"
        - "ProjectID: 101"
      drop_src_path_prefix_parts: 2

    # Traces (VictoriaTraces Single-node)
    - crd:
        kind: VTSingle
        name: victoria-traces
        namespace: monitoring
      paths:
        - "/vt/tenant-101/.*"
      headers:
        - "AccountID: 101"
        - "ProjectID: 101"
      drop_src_path_prefix_parts: 2
      target_path_suffix: "/select/jaeger"
---
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  namespace: test-app
  labels:
    dashboards: "grafana"
    app: grafana-instance
spec:
  config:
    log:
      mode: "console"
    auth:
      disable_login_form: "false"
    security:
      admin_user: admin
      admin_password: admin
    plugins:
      plugin_admin_enabled: "true"
  deployment:
    spec:
      replicas: 1
      template:
        spec:
          containers:
            - name: grafana
              image: docker.io/grafana/grafana:12.3.0
              env:
                - name: GF_INSTALL_PLUGINS
                  value: "victoriametrics-logs-datasource"
              resources:
                requests:
                  cpu: 100m
                  memory: 256Mi
                limits:
                  cpu: 500m
                  memory: 1Gi
  service:
    spec:
      type: NodePort
      ports:
        - name: grafana
          port: 3000
          protocol: TCP
          targetPort: 3000
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victorialogs
  namespace: test-app
spec:
  instanceSelector:
    matchLabels:
      app: grafana-instance
  datasource:
    uid: victorialogs
    name: Logs
    type: victoriametrics-logs-datasource
    access: proxy
    url: http://vmauth-victoria-auth.monitoring.svc:8427/vl/tenant-101/
    basicAuth: true
    basicAuthUser: ${username}
    editable: false
    jsonData:
      httpMethod: POST
      derivedFields:
        - name: TraceID
          matcherName: trace_id
          url: "${__value.raw}"
          datasourceUid: victoriatraces
    secureJsonData:
      basicAuthPassword: ${password}
  valuesFrom:
    - targetPath: basicAuthUser
      valueFrom:
        secretKeyRef:
          name: vmuser-tenant-101
          key: username
    - targetPath: secureJsonData.basicAuthPassword
      valueFrom:
        secretKeyRef:
          name: vmuser-tenant-101
          key: password
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victoriametrics
  namespace: test-app
spec:
  instanceSelector:
    matchLabels:
      app: grafana-instance
  datasource:
    uid: victoriametrics
    name: Metrics
    type: prometheus
    access: proxy
    url: http://vmauth-victoria-auth.monitoring.svc:8427/vm/tenant-101/
    basicAuth: true
    basicAuthUser: ${username}
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
    secureJsonData:
      basicAuthPassword: ${password}
  valuesFrom:
    - targetPath: basicAuthUser
      valueFrom:
        secretKeyRef:
          name: vmuser-tenant-101
          key: username
    - targetPath: secureJsonData.basicAuthPassword
      valueFrom:
        secretKeyRef:
          name: vmuser-tenant-101
          key: password
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victoriatraces
  namespace: test-app
spec:
  instanceSelector:
    matchLabels:
      app: grafana-instance
  datasource:
    uid: victoriatraces
    name: Traces
    type: jaeger
    access: proxy
    url: http://vmauth-victoria-auth.monitoring.svc:8427/vt/tenant-101
    basicAuth: true
    basicAuthUser: ${username}
    editable: false
    jsonData:
      tracesToLogsV2:
        datasourceUid: victorialogs
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        filterByTraceID: true
        filterBySpanID: true
        customQuery: true
        query: 'trace_id:="$${__trace.traceId}"'
      nodeGraph:
        enabled: true
    secureJsonData:
      basicAuthPassword: ${password}
  valuesFrom:
    - targetPath: basicAuthUser
      valueFrom:
        secretKeyRef:
          name: vmuser-tenant-101
          key: username
    - targetPath: secureJsonData.basicAuthPassword
      valueFrom:
        secretKeyRef:
          name: vmuser-tenant-101
          key: password
