apiVersion: v1
kind: Service
metadata:
  name: test-app
  namespace: {{ .Release.Namespace }}
  labels:
    app: test-app
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: test-app
