apiVersion: operator.victoriametrics.com/v1beta1
kind: VMUser
metadata:
  name: tenant-1
  namespace: monitoring
spec:
  username: tenant-1
  password: tenant-1-password

  targetRefs:
    # Metrics (VictoriaMetrics Cluster)
    - crd:
        kind: VMCluster/vmselect
        name: victoria-metrics
        namespace: monitoring
      paths:
        - "/vm/tenant-{{ .Values.tenantId }}/.*"
      headers:
        - "AccountID: {{ .Values.tenantId }}"
        - "ProjectID: {{ .Values.tenantId }}"
      drop_src_path_prefix_parts: 2
      target_path_suffix: "/select/{{ .Values.tenantId }}/prometheus"

    # Logs (VictoriaLogs Single-node)
    - crd:
        kind: VLSingle
        name: victoria-logs
        namespace: monitoring
      paths:
        - "/vl/tenant-{{ .Values.tenantId }}/.*"
      headers:
        - "AccountID: {{ .Values.tenantId }}"
        - "ProjectID: {{ .Values.tenantId }}"
      drop_src_path_prefix_parts: 2

    # Traces (VictoriaTraces Single-node)
    - crd:
        kind: VTSingle
        name: victoria-traces
        namespace: monitoring
      paths:
        - "/vt/tenant-{{ .Values.tenantId }}/.*"
      headers:
        - "AccountID: {{ .Values.tenantId }}"
        - "ProjectID: {{ .Values.tenantId }}"
      drop_src_path_prefix_parts: 2
