apiVersion: operator.victoriametrics.com/v1beta1
kind: VMUser
metadata:
  name: tenant-{{ .Values.tenantId }}
  namespace: {{ .Release.Namespace }}
spec:
  username: tenant-{{ .Values.tenantId }}
  password: tenant-{{ .Values.tenantId }}-password

  targetRefs:
    # Metrics (VictoriaMetrics Cluster)
    - crd:
        kind: VMCluster/vmselect
        name: victoria-metrics
        namespace: monitoring
      paths:
        - "/vm/tenant-{{ .Values.tenantId }}/api/v1/.*"
        - "/vm/tenant-{{ .Values.tenantId }}/prometheus/api/v1/.*"
      headers:
        - "AccountID: {{ .Values.tenantId }}"
        - "ProjectID: {{ .Values.tenantId }}"
      drop_src_path_prefix_parts: 2

    # Logs (VictoriaLogs Single-node)
    - static:
        url: http://vlsingle-victoria-logs.monitoring.svc:9428
      paths:
        - "/vl/tenant-{{ .Values.tenantId }}/select/.*"
      headers:
        - "AccountID: {{ .Values.tenantId }}"
        - "ProjectID: {{ .Values.tenantId }}"
      drop_src_path_prefix_parts: 2

    # Traces (VictoriaTraces Single-node)
    - static:
        url: http://vtsingle-victoria-traces.monitoring.svc:10428
      paths:
        - "/vt/tenant-{{ .Values.tenantId }}/api/traces.*"
      headers:
        - "AccountID: {{ .Values.tenantId }}"
        - "ProjectID: {{ .Values.tenantId }}"
      drop_src_path_prefix_parts: 2

