apiVersion: operator.victoriametrics.com/v1beta1
kind: VMUser
metadata:
  name: tenant-1
  namespace: monitoring
spec:
  username: tenant-1
  password: tenant-1-password

  targetRefs:
    # Metrics (VMCluster)
    - crd:
        kind: VMCluster/vmselect
        name: victoria-metrics
        namespace: monitoring
      paths:
        - "/vm/tenant-1/.*"
      headers:
        - "AccountID: 1"
        - "ProjectID: 1"
      drop_src_path_prefix_parts: 2

    # Logs (VLSingle)
    - crd:
        kind: VLSingle
        name: victoria-logs
        namespace: monitoring
      paths:
        - "/vl/tenant-1/.*"
      headers:
        - "AccountID: 1"
        - "ProjectID: 1"
      drop_src_path_prefix_parts: 2

    # Traces (VTSingle)
    - crd:
        kind: VTSingle
        name: victoria-traces
        namespace: monitoring
      paths:
        - "/vt/tenant-1/.*"
      headers:
        - "AccountID: 1"
        - "ProjectID: 1"
      drop_src_path_prefix_parts: 2

