apiVersion: operator.victoriametrics.com/v1beta1
kind: VMUser
metadata:
  name: tenant-{{ .Values.tenantId }}
  namespace: {{ .Release.Namespace }}
spec:
  username: tenant-{{ .Values.tenantId }}
  password: tenant-{{ .Values.tenantId }}-password

  url_map:
    # Metrics (VictoriaMetrics cluster mode)
    - src_paths:
        - "/vm/tenant-{{ .Values.tenantId }}/api/v1/.*"
        - "/vm/tenant-{{ .Values.tenantId }}/prometheus/api/v1/.*"
      url_prefix: "http://vmselect-victoria-metrics.monitoring.svc:8481/select/0/"
      headers:
        - "AccountID: {{ .Values.tenantId }}"
        - "ProjectID: {{ .Values.tenantId }}"
      drop_src_path_prefix_parts: 2

    # Logs (VictoriaLogs single node)
    - src_paths:
        - "/vl/tenant-{{ .Values.tenantId }}/select/0/.*"
      url_prefix: "http://vlsingle-victoria-logs.monitoring.svc:9428"
      headers:
        - "AccountID: {{ .Values.tenantId }}"
        - "ProjectID: {{ .Values.tenantId }}"
      drop_src_path_prefix_parts: 2

    # Traces (VictoriaTraces single node)
    - src_paths:
        - "/vt/tenant-{{ .Values.tenantId }}/api/traces.*"
      url_prefix: "http://vtsingle-victoria-traces.monitoring.svc:10428"
      headers:
        - "AccountID: {{ .Values.tenantId }}"
        - "ProjectID: {{ .Values.tenantId }}"
      drop_src_path_prefix_parts: 2

