apiVersion: operator.victoriametrics.com/v1beta1
kind: VMUser
metadata:
  name: tenant-{{ .Values.tenantId }}
  namespace: {{ .Release.Namespace }}
spec:
  username: tenant-{{ .Values.tenantId }}
  password: tenant-{{ .Values.tenantId }}-password

  targetRefs:
    # VictoriaMetrics - Read only
    - crd:
        kind: VMCluster/vmselect
        name: victoria-metrics
        namespace: monitoring
      paths:
        - "/api/v1/.*"
        - "/prometheus/api/v1/.*"
        - "/graphite/.*"
      target_path_suffix: "/select/0/prometheus"

    # VictoriaLogs - Read only
    - static:
        url: http://vlsingle-victoria-logs.monitoring.svc:9428
        headers:
          - "AccountID: 0"
          - "ProjectID: 0"
      paths:
        - "/select/.*"

    # VictoriaTraces - Read only (Jaeger API)
    - static:
        url: http://vtsingle-victoria-traces.monitoring.svc:10428
        headers:
          - "AccountID: 0"
          - "ProjectID: 0"
      paths:
        - "/select/jaeger/api/.*"
