apiVersion: v1
kind: Service
metadata:
  name: otel-gateway
  namespace: {{ .Release.Namespace }}
  labels:
    app: otel-gateway
spec:
  type: ClusterIP
  ports:
    - name: grpc
      port: 4317
      targetPort: 4317
      protocol: TCP
    - name: http
      port: 4318
      targetPort: 4318
      protocol: TCP
  selector:
    app.kubernetes.io/name: otel-gateway-collector
