apiVersion: operator.victoriametrics.com/v1
kind: VTSingle
metadata:
  name: victoria-traces
  namespace: {{ .Release.Namespace }}
spec:
  image:
    repository: victoriametrics/victoria-traces
    tag: v0.5.1-victorialogs
  retentionPeriod: "7d"
  removePvcAfterDelete: true
  extraArgs:
    search.traceMaxDurationWindow: "5m"

  storage:
    storageClassName: longhorn
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 50Gi

  resources:
    requests:
      cpu: 500m
      memory: 500Mi
    limits:
      cpu: 2
      memory: 4Gi
