k8s-monitoring:
  cluster:
    name: my-cluster
  destinations:
    - name: grafana-cloud-metrics
      type: prometheus
      url: https://prometheus-prod-49-prod-ap-northeast-0.grafana.net./api/prom/push
      auth:
        type: basic
        username: "<path:avp/data/grafana-k8s-monitoring#metricsUsername>"
        password: "<path:avp/data/grafana-k8s-monitoring#apiKey>"
    - name: grafana-cloud-logs
      type: loki
      url: https://logs-prod-030.grafana.net./loki/api/v1/push
      auth:
        type: basic
        username: "<path:avp/data/grafana-k8s-monitoring#logsUsername>"
        password: "<path:avp/data/grafana-k8s-monitoring#apiKey>"
    - name: gc-otlp-endpoint
      type: otlp
      url: https://otlp-gateway-prod-ap-northeast-0.grafana.net./otlp
      protocol: http
      auth:
        type: basic
        username: "<path:avp/data/grafana-k8s-monitoring#stackUsername>"
        password: "<path:avp/data/grafana-k8s-monitoring#apiKey>"
      metrics:
        enabled: true
      logs:
        enabled: true
      traces:
        enabled: true
    - name: grafana-cloud-profiles
      type: pyroscope
      url: https://profiles-prod-019.grafana.net.:443
      auth:
        type: basic
        username: "<path:avp/data/grafana-k8s-monitoring#stackUsername>"
        password: "<path:avp/data/grafana-k8s-monitoring#apiKey>"
  clusterMetrics:
    enabled: true
    opencost:
      enabled: true
      metricsSource: grafana-cloud-metrics
      opencost:
        exporter:
          defaultClusterId: my-cluster
        prometheus:
          existingSecretName: grafana-cloud-metrics-grafana-k8s-monitoring
          external:
            url: https://prometheus-prod-49-prod-ap-northeast-0.grafana.net./api/prom
    kepler:
      enabled: true
  annotationAutodiscovery:
    enabled: true
  prometheusOperatorObjects:
    enabled: true
  clusterEvents:
    enabled: true
  nodeLogs:
    enabled: true
  podLogs:
    enabled: true
  applicationObservability:
    enabled: true
    receivers:
      otlp:
        grpc:
          enabled: true
          port: 4317
        http:
          enabled: true
          port: 4318
      zipkin:
        enabled: true
        port: 9411
  autoInstrumentation:
    enabled: true
  profiling:
    enabled: true
  alloy-metrics:
    enabled: true
    alloy:
      extraEnv:
        - name: GCLOUD_RW_API_KEY
          valueFrom:
            secretKeyRef:
              name: alloy-metrics-remote-cfg-grafana-k8s-monitoring
              key: password
        - name: CLUSTER_NAME
          value: my-cluster
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: GCLOUD_FM_COLLECTOR_ID
          value: grafana-k8s-monitoring-$(CLUSTER_NAME)-$(NAMESPACE)-$(POD_NAME)
    remoteConfig:
      enabled: true
      url: https://fleet-management-prod-019.grafana.net
      auth:
        type: basic
        username: "<path:avp/data/grafana-k8s-monitoring#stackUsername>"
        password: "<path:avp/data/grafana-k8s-monitoring#apiKey>"
  alloy-singleton:
    enabled: true
    alloy:
      extraEnv:
        - name: GCLOUD_RW_API_KEY
          valueFrom:
            secretKeyRef:
              name: alloy-singleton-remote-cfg-grafana-k8s-monitoring
              key: password
        - name: CLUSTER_NAME
          value: my-cluster
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: GCLOUD_FM_COLLECTOR_ID
          value: grafana-k8s-monitoring-$(CLUSTER_NAME)-$(NAMESPACE)-$(POD_NAME)
    remoteConfig:
      enabled: true
      url: https://fleet-management-prod-019.grafana.net
      auth:
        type: basic
        username: "<path:avp/data/grafana-k8s-monitoring#stackUsername>"
        password: "<path:avp/data/grafana-k8s-monitoring#apiKey>"
  alloy-logs:
    enabled: true
    alloy:
      extraEnv:
        - name: GCLOUD_RW_API_KEY
          valueFrom:
            secretKeyRef:
              name: alloy-logs-remote-cfg-grafana-k8s-monitoring
              key: password
        - name: CLUSTER_NAME
          value: my-cluster
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: GCLOUD_FM_COLLECTOR_ID
          value: grafana-k8s-monitoring-$(CLUSTER_NAME)-$(NAMESPACE)-alloy-logs-$(NODE_NAME)
    remoteConfig:
      enabled: true
      url: https://fleet-management-prod-019.grafana.net
      auth:
        type: basic
        username: "<path:avp/data/grafana-k8s-monitoring#stackUsername>"
        password: "<path:avp/data/grafana-k8s-monitoring#apiKey>"
  alloy-receiver:
    enabled: true
    alloy:
      extraPorts:
        - name: otlp-grpc
          port: 4317
          targetPort: 4317
          protocol: TCP
        - name: otlp-http
          port: 4318
          targetPort: 4318
          protocol: TCP
        - name: zipkin
          port: 9411
          targetPort: 9411
          protocol: TCP
      extraEnv:
        - name: GCLOUD_RW_API_KEY
          valueFrom:
            secretKeyRef:
              name: alloy-receiver-remote-cfg-grafana-k8s-monitoring
              key: password
        - name: CLUSTER_NAME
          value: my-cluster
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: GCLOUD_FM_COLLECTOR_ID
          value: grafana-k8s-monitoring-$(CLUSTER_NAME)-$(NAMESPACE)-alloy-receiver-$(NODE_NAME)
    remoteConfig:
      enabled: true
      url: https://fleet-management-prod-019.grafana.net
      auth:
        type: basic
        username: "<path:avp/data/grafana-k8s-monitoring#stackUsername>"
        password: "<path:avp/data/grafana-k8s-monitoring#apiKey>"
  alloy-profiles:
    enabled: true
    alloy:
      extraEnv:
        - name: GCLOUD_RW_API_KEY
          valueFrom:
            secretKeyRef:
              name: alloy-profiles-remote-cfg-grafana-k8s-monitoring
              key: password
        - name: CLUSTER_NAME
          value: my-cluster
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: GCLOUD_FM_COLLECTOR_ID
          value: grafana-k8s-monitoring-$(CLUSTER_NAME)-$(NAMESPACE)-alloy-profiles-$(NODE_NAME)
    remoteConfig:
      enabled: true
      url: https://fleet-management-prod-019.grafana.net
      auth:
        type: basic
        username: "<path:avp/data/grafana-k8s-monitoring#stackUsername>"
        password: "<path:avp/data/grafana-k8s-monitoring#apiKey>"
